@import '../../lib/variables';
@import '../../lib/mixins';

.Navigation {
  display: flex;
  flex-flow: column nowrap;
}

.NavigationContent {
  flex: 1 1 auto;

  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.Header {
  flex: 0 0 auto;
}
