@import '../../lib/variables';
@import '../../lib/mixins';

.FullPageNotice {
  height: 100vh;
  display: flex;
  padding-top: $headerHeight;
  padding-bottom: $headerHeight;
  justify-content: center;
  align-items: center;
}

.FullPageNotice-inner {
  width: 280px;
  position: relative;
  top: -30px;
  text-align: center;
  @media ( min-device-width: 375px ) { width: 320px; }
}

.FullPageNotice-button {
  @include blockyText;
  color: $cream;
  text-align: center;
  background-color: $marine;
  padding: .8em 1.1em .9em;
  border-radius: 2px;

  &:active { background-color: $marineLight; }
}

.FullPageNotice-text {
  font-size: $fontSizeM;
  color: $creamDarkest;
  line-height: 1.2;
  margin-bottom: 1.35em;
}
